<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../static/forms1.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href=""><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href=""><span>Create Account</span> <i class="material-icons">add</i></a>
                    <h1 style="text-align: center;">English For Life FLASK/LMS Prototype</h1>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="new-entry">
                        {% block content %}{%endblock%}                    
                </div>
            </div>
        </section>

        <footer>
            <div>
                &copy; CSIS 474 E4L Group
            </div>
        </footer>
    </body>
</html>