<!DOCTYPE html>
    <html>
        <head>
            <title>English For Life</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
            <link rel="stylesheet" href="static/styles3.css" type="text/css">
        </head>
        <body>
            <div class="container-fluid pl-2">
                <div class="row">
                    
                    <!-- Start Sidebar column -->
                    <div class="col-md-2 pl-1 text-center sidebar-col">
                        <div class="wrapper">
                            <!-- Sidebar -->
                            <nav id="sidebar">
                                <div class="sidebar-header">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">

                                            </div>
                                            <div class="col">
                                                <strong><p>Welcome, {{user.first_name}}</p></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <ul class="list-unstyled components py-0">
                                    <li>
                                        <a href="#">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Calendar</a>
                                    </li>
                                    <li>
                                        <a href="#">Courses</a>
                                    </li>
                                    <li>
                                        <a href="#">Forum</a>
                                    </li>
                                    <li>
                                        <a href="#">Account</a>
                                    </li>
                                    <li>
                                        <a href="#">Messages</a>
                                    </li>
                                    <li>
                                        <a href="{{url_for('login')}}">Logout</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div> <!--End sidebar column-->

                    
                    <!--Start Main Column-->
                        <div class="col" id="main-container"> <!--Think of this as a container-->
                            
                            
                            <div class="container mt-3"> <!--Top Row Container-->
                                <div class="row d-md-flex justify-content-between">

                                    <div class="col-md-5 mr-2 dash-box"> <!--Dashboard Box-->
                                        <div class="container-fluid text-center">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="static/icons/grad-icon.svg">
                                                </div>
                                                <div class="col">
                                                    <h1>{{ friends.count()}}</h1>
                                                    <h1>Students</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-5 mr-2 dash-box"> <!--Dashboard Box-->
                                        <div class="container-fluid text-center">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="static/icons/teacher-icon.svg">
                                                </div>
                                                <div class="col">
                                                    <h1>0</h1>
                                                    <h1>Teachers</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!--End Top Row Container-->

                            <div class="container mt-5 dash-box"> <!--Middle Row Container-->
                                <div class="row" style="border-bottom: solid 2px black;">
                                    <div class="col-md-2">
                                        <img src="static/icons/pie-chart.svg">
                                    </div>
                                    <div class="col">
                                        <h1 class="mt-3">Course Announcements</h1>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col">
                                        <h3><strong>></strong> Hello There</h3>
                                        <h3 class="mt-4"><strong>></strong> Here is the GUI that Rachel Drew Up and there is a Database Connected To This</h3>
                                        <h3 class="mt-4"><strong>></strong> This Prototype Was Built Using Flask Not Django, Still Python though</h3>
                                        <h3 class="mt-4"><strong>></strong> A Discussion Board/Forum feature Will Be Coming Shortly</h3>
                                        <h3 class="mt-4"><strong>></strong> Also This Prototype Website is not very secure at all, just keep that in mind</h3>
                                    </div>
                                </div>
                            </div> <!--End Middle Row Container-->


                            <div class="container mt-5 dash-box"> <!--Bottom Row Container-->
                                <div class="row" style="border-bottom: solid 2px black;">
                                    <div class="col-md-2">
                                        <img src="static/icons/bookmark.svg" class="mt-1">
                                    </div>
                                    <div class="col">
                                        <h1 class="mt-3">User Information</h1>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col">
                                        <h3><strong>></strong> {{user.first_name}} {{user.last_name}}</h3>
                                        <h3 class="mt-4"><strong>></strong> {{user.first_name}} is from {{user.country}}</h3>
                                        <h3 class="mt-4"><strong>></strong> {{user.first_name}} speaks {{user.language}}</h3>
                                        <h3 class="mt-4"><strong>></strong> {{user.first_name}} has been a user since {{user.date_created}}</h3>
                                        <h3 class="mt-4"><strong>></strong> {{user.first_name}} is interested in {{user.interests}}</h3>
                                    </div>
                                </div>
                            </div> <!--End Bottom Row Container-->


                        </div> <!--End Main Column-->


                    <div class="col-md-2 side-box px-0 py-0"> <!--Side Bar Column-->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col text-center py-3" style="background-color:#cad4eb; border-bottom: solid 2px black;">
                                    <h1>Classmates</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <ul class="px-0">
                                        <!-- <h5 class="mt-4"><img src="static/icons/student-icon.svg" class="mr-3">Michael Kreigshauser</h5>
                                        <h5 class="mt-4"><img src="static/icons/student-icon.svg" class="mr-3">Rachel Israel</h5>
                                        <h5 class="mt-4"><img src="static/icons/student-icon.svg" class="mr-3">Justin Schofield</h5> -->

                                        {% for friend in friends %}
                                        <h5 class="mt-4"><a href="{{friend.username}}" class="student-link"><img src="static/icons/student-icon.svg" class="mr-3">{{friend.first_name}}</a></h5>
                                        {%endfor%}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!--End Side Bar Column-->
                
                
                
                
                </div>
            </div>
        </body>
    </html>